body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
    height: 100vh;
    width: 100vw;
}
#container {
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #111;
}
#canvas {
    position: relative;
    width: 5000px;
    height: 5000px;
    transform-origin: top left;
}
.cell {
    position: absolute;
    width: 20px;
    height: 20px;
    font-family: monospace;
    font-size: 20px;
    color: white;
}
#controls {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
button {
    font-size: 20px;
    margin: 5px;
}